{% extends 'HvjHenryJenkinsNameBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About Henry</h1>
    </header>
    <article> <p>Hi, I’m Henry. I recently graduated from the University of
Canterbury with a Bachelor of Engineering, 2nd class Honours, with a major in
Computer Engineering. Feel free to have a look at some of the projects I have
been working, most of my code and schematics are available on GitHub, else I am
happy to provide them, just ask.</p>
    </article>
{% endblock %}
